<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{HH:mm:ss}){faint} %highlight(%-5p) [%thread] %clr(%-40logger{20}){blue} %m%n"/>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <logger name="org.hibernate.type.descriptor.sql" level="TRACE" />
    <logger name="MySQL" level="TRACE" />
    <logger name="com.gmoon" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
